<div class="row">
  <div class="col-xs-2">
    <img {{bind-attr src=model.picturePath alt=model.name}} class="img-responsive">
  </div>
  <div class="col-xs-8">
    <h1>{{model.name}}</h1>
    {{input value=page}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ex reiciendis, quisquam doloribus dolores accusantium aliquid soluta rem non beatae voluptates, pariatur corporis est ipsam unde eligendi repellat necessitatibus? Id.</p>
  </div>
</div>
<hr>
